################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BusinessDaysCalculator/v15/Server/sqlite3
/ConsoleApp1/obj
/ConsoleApp1/bin
/BusinessDaysTest/obj/Debug
/BusinessDaysTest/obj/
/BusinessDaysTest/bin/
/BusinessDays/obj
/BusinessDays/bin
/TestResults
/.vs/BusinessDaysCalculator/DesignTimeBuild/.dtbcache
*.dtbcache
*.suo
*.pdb
*.user
